.chatBox {
    font-size: 20px;
    width: 70%;
    height: 700px;
    margin: 20px auto auto;
}

.inviteBar {
    font-size: 22px;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    text-align: center;
    background: khaki;
}

.chatTitle {
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 50px;
    background: grey;
}

.onlineBar {
    font-size: 25px;
    float: left;
    width: 25%;
    height: 600px;
    background: #939292;
}

.onlineBar b {
    font-size: 20px;
    padding-left: 20px;
}

ul {
    list-style: none;
}

li::after {
    content: "\2022";
    color: green;
    font-weight: bold;
    margin-left: 0.5em;
}

.inputAndMessages {
    float: right;
    width: 75%;
}

.messagesBox {
    float: right;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    background: lightgray;
}

.wholeMessage {
    margin-top: 15px;
    margin-left: 15px;
}

.message {
    font-size: 20px;
    display: inline;
    border-radius: 10px;
    background: ghostwhite;
    padding: 10px;
}

.info {
    margin-top: 5px;
    font-size: 15px;
}

.messageForm {
    float: right;
    width: 100%;
    height: 100px;
    background: #afafaf;
}

.messageInput {
    position: relative;
    top: 15%;
    left: 2%;
    width: 88%;
    resize: none;
    display: inline;
}

.bttn {
    display: inline;
    position: relative;
    left: 3%;
}

.broadcastBox {
    margin-top: 5px;
    text-align: center;
}

video {
    margin-top: 5px;
    width: 90%;
}
